body{
    background-color:aqua;
}

img{
    width: 100px;
}

h2{
    color:white;
}

p{
    text-align: center;
    color:red;
    text-decoration:line-through;
}

ul{
    color:brown;
}

li{
    color:purple;
}

table{
    color:green;
}

form{
    color:black;
}

div{
    background-color:red;
}

#blockOne{
    background-color: yellow;
}

.dablock{
    background-color: gray;
}